.HomeInstructions__Section {
  margin-top: 100px;
  margin-bottom: 100px;
  /* background-color: #f15bb5; */
}

.HomeInstructions__Icon {
  width: 150px !important;
  height: 150px !important;
  padding: 20px;
  /* transform: scale(5); */
}
