/* .QueenSelect__FormControl {
  min-width: 400px;
}

.QueenSelect__Select {
  display: inline;
  background-color: white !important;
}

.QueenSelect__MenuItem {
  display: block;
  float: left;
  background-color: white !important;
} */

.MuiPaper-root {
  background-color: white !important;
}
