.Leagues__Wrapper {
  margin-bottom: 50px;
}

.Leagues__Card {
  width: 100%;
  height: 300px;
  background-color: #fff;
  border-radius: 5%;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease 0.25s;
}

.Leagues__Card:hover {
  transform: scale(1.02);
  transition: ease 0.25s;
}

.Leagues__Icon {
  /* padding-top: 40px; */
  color: #0099ff;
}

.Leagues__CreateLeagueCard {
  color: white !important;
  text-decoration: none;
}
