/* ========================================
NAV STYLING
======================================== */

.nav {
  width: 100%;
  height: 45px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  background-color: #0099ff;
  /* position: absolute; */
}

.nav-hamburger {
  display: none;
}

.nav-logo {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  font-weight: bold;
}

.nav-logo:hover {
  text-decoration: none;
  color: #f15bb5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
}

li {
  float: right;
  margin-right: 15px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  display: block;
  color: #f15bb5;
  text-align: center;
  text-decoration: none;
}

.active {
  display: block;
}

.MuiPaper-root {
  background-color: #424242 !important;
}

.drawer__list {
  display: flex;
  flex-direction: column;
}

.drawer__item {
  padding: 15px;
  width: 200px;
  color: white;
  font-weight: 500;
  /* border: 1px gray solid; */
}

.drawer__list > a {
  text-decoration: none;
}
.drawer__list > a:hover {
  text-decoration: none;
  font: black !important;
}

.drawer__item:hover {
  background-color: gray;
}

.nav__hamburger {
  display: none;
}

/* MEDIA QUERIES */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav-item {
    display: none;
  }
  .nav__hamburger {
    float: right;
    display: block;
  }
}
