.leagueDetails__header {
  align-items: center;
  text-align: center;
  background-color: lightgray;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 1px solid gray;
}

.leagueDetails__rosterIMG {
  width: 200px;
  border-radius: 20%;
}

.leagueDetails__rosterIMG2 {
  width: 100px;
  border-radius: 20%;
}

.correctGuess {
  border: 5px solid green;
}

.incorrectGuess {
  border: 5px solid red;
}

.episodePagination {
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

.episodePaginationNoResultBox {
  width: 80%;
  background-color: white;
  height: 400px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
