.leagueDetails__header {
  align-items: center;
  text-align: center;
}

.leagueDetails__rosterIMG {
  width: 200px;
  border-radius: 20%;
}

.leagueDetails__rosterIMG2 {
  width: 100px;
  border-radius: 20%;
}

.correctGuess {
  border: 5px solid green;
}

.incorrectGuess {
  border: 5px solid red;
}

.episodePagination {
  margin: auto;
  width: 50%;
}
